<ion-content class="ion-text-center">

  <img class="topSpase" src="../../assets/icon/Group 5628.svg" />
  <br>

  <dev>
    <h2>Introducing VR-Braille</h2>
    <br>
    <img src="../../assets/icon/Repeat Grid 1.svg" />
    <audio controls >
     
      <source src="../../assets/MP3/20211018_2043451111638968865.mp3" type="audio/mpeg">
       Your browser does not support the audio element.
    </audio>
    <br>
    <h2>  <dev class="boton" (click)="nextpage()">  Next </dev></h2>

  </dev>


</ion-content>