<ion-content >


  
    <ion-card  (click)="LearnBraille()" class="ion-card">
      <ion-grid >
          <ion-row>
            <ion-col size="3" size-md class="ICON">
              <img src="../../assets/icon/undraw_Developer_activity_re_39tg.svg" />
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title><h2>Learn Braille</h2> </ion-card-title>
                <ion-card-subtitle>learn braille step by step as a funny story</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>  
      </ion-grid>
    </ion-card>

    <ion-card class="ion-card">
      <ion-grid>
          <ion-row>
            <ion-col size="3" size-md class="ICON">
              <img src="../../assets/icon/undraw_fatherhood_7i19.svg" />
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title><h2>What is VR-Braille</h2>   </ion-card-title>
                <ion-card-subtitle>short history of VR-Braille and what is used for </ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>  
      </ion-grid>
    </ion-card>


    <ion-card class="ion-card">
      <ion-grid>
          <ion-row>
            <ion-col size="3" size-md class="ICON">
              <img src="../../assets/icon/undraw_mathematics_4otb.svg" />
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title><h2>Learn VR-Braille</h2>    </ion-card-title>
                <ion-card-subtitle>short history of VR-Braille and what is used for </ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>  
      </ion-grid>
    </ion-card>


    <ion-card class="ion-card">
      <ion-grid>
          <ion-row>
            <ion-col size="3" size-md class="ICON">
              <img src="../../assets/icon/undraw_in_real_life_v8fk.svg" />
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title> <h2>VR-Braille Service</h2>    </ion-card-title>
                <ion-card-subtitle>learn braille step by step as a funny story</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>  
      </ion-grid>
    </ion-card>

   <ion-card class="ion-card">
      <ion-grid class="ion-grid">
          <ion-row>
            <ion-col size="3" size-md class="ICON">
              <img src="../../assets/icon/undraw_Developer_activity_re_39tg.svg" />
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title><h2>seting</h2>    </ion-card-title>
                <ion-card-subtitle>application setting</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>  
      </ion-grid>
    </ion-card>

     





</ion-content>