<ion-content class="ion-text-center">
  <dev ></dev>
  <img class="topSpase" src="../../assets/icon/Group 5628.svg" />
  <br>
  <dev>
    <img src="../../assets/icon/ui (1).svg" />
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle> <h4>Allow the app to</h4> </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> <h3>use the location</h3> </ion-card-content>
    </ion-card>
    <h2>  <dev class="boton" (click)="nextpage()">  Next </dev></h2>

  </dev>


</ion-content>