.topSpase{
    margin-top: 45%;
}
*{
    font-family: 'Cairo', Courier, monospace;
  }
  .boton{
    background-color: #1C74BB;
    margin: 10px auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    box-shadow: 0.7px 0.5px 10px #00000085;
    color: white;
  }