<ion-header>
  <ion-toolbar>
    <ion-title>LearnBraille</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  
    <ion-grid (click)="test()">
        <ion-row>
          <ion-col>
            <ion-card >
              <h1 class="char"> A</h1>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card >
              <h1 class="char">B</h1>
            </ion-card>
          </ion-col>
        </ion-row>  
    </ion-grid>


</ion-content>
